[run]
source = core
omit =
    */tests/*
    */__init__.py
    */conftest.py
    */migrations/*
    */venv/*
    */virtualenv/*
    */node_modules/*
    */.pytest_cache/*
    */.tox/*
    */dist/*
    */build/*
    */.eggs/*
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    
[html]
directory = htmlcov